# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
Debug/
Release/

# NuGet
packages/
*.nupkg

# Misc
*.Cache
*.log
*.pdb
*.db
*.opendb
*.DS_Store
Thumbs.db
# Licensing / Keys / Build Artifacts
*.lic
*.pem
tools/LicGen/bin/
tools/LicGen/obj/
publish-win/
